<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MED TECH</title>
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-logo">
            <a href="#">MED TECH</a>
        </div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/dect">Detection</a>
            <a href="/dectx">Detection_CT</a>

            <a href="/about">About</a>
            <a href="/summarizer">Report Summarizer</a> <!-- New link to PDF summarizer -->
            <a href="https://chatbot.page/66f6b9e648b2ba247e87d38f">Appointment Booking</a> <!-- New link for appointment booking -->
        </div>
    </nav>
    <div class="main-content">
        <div class="about-section">
            <h1>About Us</h1>
            <p>We are a team dedicated to developing cutting-edge ear and eye disease detection technology.</p>
            <div class="team">
                <div class="author-container">
                    <div class="author-profile">
                        <img src="/static/img/murugesh.jpg" alt="John Doe" class="profile-pic">
                        <h2>Murugesh K</h2>
                        <p>Machine learning Engineer and Back-end Developer.</p>
                    </div>
                    <div class="author-profile">
                        <img src="/static/img/tharun.jpg" alt="Jane Smith" class="profile-pic">
                        <h2>Tharun Kumar S</h2>
                        <p>Machine Learning Engineer and Front-end Developer.</p>
                    </div>
                    <div class="author-profile">
                        <img src="/static/img/sanjiv.jpg" alt="Mike Johnson" class="profile-pic">
                        <h2>Sanjiv R</h2>
                        <p>Machine Learning Engineer and Back-end Developer.</p>
                    </div>
                    <div class="author-profile">
                        <img src="/static/img/manikandan.jpg" alt="Emma Davis" class="profile-pic">
                        <h2>Manikandan S</h2>
                        <p>Machine Learning Engineer and Front-end Developer.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
